<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\src\Orc.Metadata.Tests\Orc.Metadata.Tests.NET40\packages.config" />
  <repository path="..\src\Orc.Metadata.Tests\Orc.Metadata.Tests.NET45\packages.config" />
  <repository path="..\src\Orc.Metadata\Orc.Metadata.NET40\packages.config" />
  <repository path="..\src\Orc.Metadata\Orc.Metadata.NET45\packages.config" />
</repositories>